@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Rethink Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html,
body {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

canvas {
  filter: none !important;
}
